<!-- <p>face-attendance works!</p>

<input type="file" accept="image/*;capture=camera">
<input type="file" accept="video/*;capture=camcorder">
<input type="file" accept="audio/*;capture=microphone"> -->


<form>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="from">From:</label>
        <select class="form-control">
          <option value="sub unit">sub unit</option>
          <option value="job title">Job Title</option>
          <option value="work shift">Work Shift</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="to">To:</label>
        <select class="form-control">
          <option value="location">location</option>
          <option value="employee status">Employee Status</option>
          <option value="cost center">Cost Center</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="employee">Employee:</label>
        <input type="text" class="form-control" id="employee" placeholder="Type for hints..">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="leaveType">Leave Type:</label>
        <select class="form-control">
          <option value="all">All</option>
          <option value="cancelled">Cancelled</option>
          <option value="pendingApprovals">Pending Approvals</option>
          <option value="scheduled">Scheduled</option>
          <option value="taken">Taken</option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="reset">RESET</label>
        <button class="form-control btn btn-primary">RESET</button>
      </div>
    </div>
  </div>
</form>